<html lang="en">
<head>
    <% include ../helpers/head %>
    <% include ../helpers/navbar %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>City, State and Zip Data Entry</h1>
  </div>

  <button onClick="handleSignIn()">Please Login</button>



 <h2>To enter new facts for the database, complete the form below:</h2><br>
  <form onSubmit="handleMessageFormSubmit()" action="#">
    Enter a new city:
    <input id="city"><br>
    Enter the related state: 
    <input id="state"><br>
    Enter the related zip code: 
    <input id="zip"><br>
    <button>Submit</button>
  </form><br>

  <h2>This is what has been entered so far:</h2><br>

  <div id="post-listing"></div>

    

  
  
</body>

</html>